---
import { Image } from "astro:assets";
import AboutHeroImage from "../assets/about-me.png";
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Me"
  description="Little bit about myself."
  pubDate={new Date("March 01 2026")}
>
  <div class="w-full flex flex-col">
    <div class="w-full flex items-center justify-center p-y-2 md:p-y-4">
      <Image
        src={AboutHeroImage}
        alt={"about me image"}
        width={"400"}
        height={"600"}
        quality={"high"}
        loading={"lazy"}
        decoding={"async"}
      />
    </div>
    <div class="flex flex-col w-full mt-10">
      <p>Hi, I'm Kshitij khatri.</p>
      <p>
        I'm a software developer and I write and build things, mostly with Rust,
        React, and Astro. I dabble in Node.js sometimes. In my spare time
        however I am most likely found wandering down completely different
        rabbit holes.
      </p>

      <p>
        Questions about the mind, humans, and the universe have been with me for
        as long as I can remember. The types of questions which are small at
        first, then escalate until they become something rather vast. The
        internet, of course, exacerbates this for the better. I frequently find
        myself querying odd things at 3 in the morning, travelling from one
        disparate concept to another.
      </p>

      <p>
        I spent some time, in a more organised way, attempting to learn
        psychology at lectures, through online lessons, but soon found that
        exploring the human mind requires understanding how humans actually
        function, therefore necessitating a deep dive into the realms of
        biology, chemistry and the human body's complex structure. It was at
        this point that I eventually had to give up but never the curiosity.
      </p>

      <p>
        So this blog has a rather simple purpose and that purpose is curiosity.
        It's here where I can explore theories about psychology, obscure parts
        of human behaviour, ideas regarding the cosmos, and essentially all the
        random questions that prompt these late-night google journeys. Sometimes
        I try to explain things I'm learning, sometimes it's just sharing
        concepts that I find interesting, and at other times, simply documenting
        questions that aren't willing to vacate my head.
      </p>

      <p>
        Consider it less like a study guide, and more like a cabinet of
        curiosities. If you share an affinity for asking strange questions about
        how minds work, the universe operates, and why some things are so
        mysteriously odd, then you might feel at home here.
      </p>
    </div>
  </div>
</Layout>
