---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>🚀 Welcome, Curious Mind.</h1>
      <p>
        This is a tiny corner of the internet that focuses on the weird, the interesting, and the things that make you stop for a second and think about the following:
        <p>“Wait… why does that happen?”</p>
      </p>
      <p>
        Here you will find thoughts and explorations about the weird side of life, including psychology quirks, weird scientific ideas, weird human behaviors, and the weird little glitches in reality that we often overlook.
      </p>
      <p>
        Some of the things you will find here are explanations, some are uncomfortable questions, and some are just things that will make you lie in bed for five minutes staring at the ceiling.
      </p>
      <p>Some of the topics you will stumble upon here include:</p>
      <ul>
        <li>The weird things your brain does to you</li>
        <li> The weird psychological phenomena you never knew had a name for</li>
        <li>   The weird scientific facts that sound completely fake but are true anyway</li>
        <li>
          Random thoughts about life that somehow lead you down a rabbit hole of weirdness
        </li>
        <li>Questions that probably don’t have clean answers</li>
      </ul>
      <p>This blog isn’t about having all the answers.</p>
      <p>
        It’s about curiosity.<br />
        So if you’re the kind of person who loves weird questions, weird ideas, and the weird side of life, then you’re probably going to feel right at home here.
      </p>
    </main>
    <Footer />
  </body>
</html>
